<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>View Course</title>
<link rel="stylesheet" type="text/css" href="/css/stylesRoot.css">
</head>
<body>

	<h1 th:text="${course.courseName} + ' : ' + ${course.courseCode}"></h1>
	<h3 th:if="${course.professor != null}" th:text="${course.professor.name}"></h3>
	
	<table th:if="${!#lists.isEmpty(course.students)}" border="1">
	    <tr>
	        <th>Students</th>
	        <th>Remove Student From Course</th>

	    </tr>
	    <tr th:each="student: ${course.students}">

	    	<td th:text="${student.firstName + ' ' + student.lastName}"></td>
			<td><a th:href="@{/removeStudentFromCourse(studentId=${student.id}, courseId=${course.id})}">Remove</a></td>
			
	    </tr>
	</table>
	
	<a href="/">Home</a><br>

</body>
</html>