<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>View Student</title>
<link rel="stylesheet" type="text/css" href="/css/stylesRoot.css">
</head>

<body>
	<h1>Student</h1>
	<h3 th:text="${'Name: ' + student.firstName + ' ' + student.lastName}" th:object="${student}"></h3>
	<h3 th:text="${'Id: ' + student.id}" th:object="${student}"></h3>
	
	<table th:if="${!#lists.isEmpty(student.courses)}" border="1" class="custom-table">
	    <tr>
	        <th>Course Name</th>
	        <th>Course Code</th>
	        <th>Professor</th>
	    </tr>
	    <tr th:each="course: ${student.courses}">
	    	<td th:text="${course.courseName}"></td>
	    	<td th:text="${course.courseCode}"></td>
	    	<td th:text="${course.professor.name}"></td>
	    </tr>
	</table>
	

	<a href="/">Back to Home</a><br>
	
</body>

</html>